* {
    margin: 0em;
    padding: 0em;
    font-family: 'Patrick Hand SC', cursive;
    list-style: none;
    box-sizing: border-box;
}

body {
    cursor: default;
    background-color: rgb(253, 204, 253);
}

#calculator {
    background-color: purple;
    height: 35em;
    width: 90%;
    margin: 0 auto;
    top: 3.5em;
    position: relative;
    border-radius: 0.7em;
    box-shadow: 0.2em 0.2em;
}

/**************************************************** screen */

#screen {
    background-color: lightgrey;
    width: 90%;
    height: 6em;
    text-align: right;
    position: relative;
    top: 2em;
    margin: auto;
    border-radius: 0.7em;
    box-shadow: 0.2em 0.2em;
}

#history {
    background-color: lightgrey;
    font-size: 1.5em;
    padding-right: 0.1em;
    border-radius: 0.7em;
}

#number {
    position: absolute;
    right: 0;
    font-size: 2em;
    padding-right: 0.1em;
    bottom: -0.2em;
}

/**************************************************** buttons */

#buttonGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 25em;
    padding: 0.3em;
    width: 95%;
    margin: 0 auto;
    position: relative;
    top: 4em;
    grid-column-gap: 1em;
    justify-content: center;
}

.buttons, .operators {
    border: none;
    cursor: pointer;
    border-radius: 8em;
    width: 2.2em;
    height: 2.2em;
    box-shadow: 0.1em 0.1em;
}

.buttons {
    background-color: rgb(235, 145, 235);
    font-size: 1.6em;
    font-weight: 600;
}

.operators {
    background-color: rgb(236, 84, 236);
    font-size: 1.5em;
}

.buttons:focus, .buttons:hover, .operators:focus, .operators:hover {
    outline: 0;
}

.buttons:focus, .buttons:hover {
    border: rgb(236, 84, 236) solid 0.2em;
}

.operators:focus, .operators:hover {
    border: rgb(245, 121, 245) solid 0.2em;
}

.fas.fa-divide, .fas.fa-times, .fas.fa-minus, .fas.fa-plus, .fas.fa-equals {
    font-size: 1em;
}
